# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Cache directories
__pycache__/

# Environment files
env/
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Log files
*.log

# Local configuration files
*.env
